<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('partials/head'); %>
        <title>Meet People</title>
        <style>
            #container {
                display: flex;
                flex-direction: row;
            }

            /* will be split later with bootstrap grid system */
            #left, #right {
                width: 100%;
            }

            /* will also be handled with bootstrap */
            #active-conversations {
                display: flex;
                list-style: none;
            }

            #active-conversations li {
                padding: 1rem;
            }


            /* bootstrap btns */
            .active-conversation, .person {
                background: #ddd;
            }

            .active-conversation:hover, .person:hover {
                background: #aaa;
                cursor: pointer;
            }

            /* current might need a unique class to make it apparent */
            #current {
                background: #333;
                color: white;
            }

            /* this as well */
            .new {
                background: coral;
            }
        </style>
    </head>
    <body>
        <%- include('partials/nav'); %>
        <h1>Meet People</h1>
        <div id="container">
            <audio>
                <source src="/sfx/ding.wav" type="audio/wav">
                Your browser does not support the audio file.
            </audio>
            <div id="left">
                <div id="chat">
                    <div id="chat-list">
                        <ul id="active-conversations">
                        </ul>
                    </div>
                    <div id="messages">
        
                    </div>
                    <form id="message-form">
                        <textarea id="message-input" placeholder="type in your message" required></textarea>
                        <button>Send</button>
                    </form>
                </div>
                <div id="selected-profile">

                </div>
            </div>
            <div id="right">
                <div id="people-navigation">
                    <button id="friends-btn">Friends</button>
                    <button id="meet-btn">Meet People</button>
                    <div id="people-list">
                    </div>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <% if(user) { %>
            <script>
                // this is here because we need the ejs user local variable for our script
                const currentUserName = "<%=user.username%>";
                const currentUserId = "<%=user._id%>";
                const friendsList = "<%=user.friendsList%>".split(',');
            </script>
            <script src="/scripts/privateChatFunctionality/main.js"></script>
            <script src="/scripts/privateChatFunctionality/socketEventRequests.js"></script>
            <script src="/scripts/privateChatFunctionality/socketEventHandlers.js"></script>
            <script src="/scripts/privateChatFunctionality/DOMManipulation.js"></script>
        <% }; %>
    </body>
</html>