<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('partials/head'); %>
        <title>Chat</title>
    </head>
    <body>
        <div id="container" class="container-fluid text-white p-0 viewport-fit d-flex flex-column align-items-stretch">
            <!-- NAV -->
            <nav class="navbar navbar-dark bg-complement">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button id="people-list-toggler" class="btn btn-complement">Hide People</button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/people">Meet People</a></li>
                        <li class="nav-item"><a class="nav-link" href="/settings">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>
            <!-- CONTENT -->
            <audio>
                <source src="/sfx/ding.wav" type="audio/wav">
                Your browser does not support the audio file.
            </audio>
            <div class="container-fluid viewport-fit">
                <div class="row h-100">
                    <div id="left" class="col-12 p-0 h-100">
                        <div id="chat" class="overflow-auto h-75 position-relative bg-secondary">
                            <div id="chat-list" class="sticky-top">
                                <ul id="active-conversations" class="list-unstyled">
                                    <!-- All Active Conversations Go Here -->
                                </ul>
                            </div>
                            <div id="messages" class="px-3">
                                <!-- All Messages Go Here -->
                            </div>
                            <form id="message-form" class="bg-primary w-100 position-sticky h-25">
                                <textarea id="message-input" placeholder="type in your message" class="w-100 p-3"></textarea>
                                <button class="btn btn-complement w-100">Send</button>
                            </form>
                        </div>
                        <div id="selected-profile" class="h-25 p-3 bg-darker">
                            <!-- Profile Info Goes Here -->
                        </div>
                    </div>
                    <div id="right" class="col-12 bg-darker viewport-fit overflow-auto position-absolute">
                        <div id="people-navigation">
                            <div id="people-nav-controls" class="bg-darker py-3 sticky-top">
                                <button id="friends-btn" class="btn btn-complement text-light mr-2">Friends</button>
                                <button id="meet-btn" class="btn btn-complement text-light">Meet People</button>
                            </div>
                            <div id="people-list">
                                <!-- List of People Goes Here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <% if(user) { %>
            <script>
                // this is here because we need the ejs user local variable for our script
                const currentUserName = "<%=user.username%>";
                const currentUserId = "<%=user._id%>";
                const friendsList = "<%=user.friendsList%>".split(',');
            </script>
            <script src="/scripts/privateChatFunctionality/main.js"></script>
            <script src="/scripts/privateChatFunctionality/socketEventRequests.js"></script>
            <script src="/scripts/privateChatFunctionality/socketEventHandlers.js"></script>
            <script src="/scripts/privateChatFunctionality/DOMManipulation.js"></script>
        <% }; %>
        <%- include('partials/scripts'); %>
    </body>
</html>